.timeline-comment {
    border-radius: $border-radius !important;
}

.timeline-comment-header,
.previewable-comment-form .comment-form-head.tabnav {
    border-top-left-radius: $border-radius !important;
    border-top-right-radius: $border-radius !important;
    
    .tabnav-tab {
        border-top-left-radius: $tab-border-radius !important;
        border-top-right-radius: $tab-border-radius !important;
    }
}