.pagehead-actions .btn {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding: 3px 10px !important;
}

.pagehead-actions a.social-count {
    border-top-right-radius: $border-radius !important;
    border-bottom-right-radius: $border-radius !important;
    padding: 3px 10px !important;
}