// Reverts repository topics
a.topic-tag {
    border: none !important;
    display: inline-block !important;
    padding: .3em .9em !important;
    margin: 0 .5em .5em 0 !important;
    white-space: nowrap !important;
    line-height: 1.5 !important;
    font-size: 12px !important;
    border-radius: $border-radius !important;
}