{
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "ignorePatterns": [
    "**/*.scss",
    "**/*.jsx"
  ],
  "extends": "eslint:recommended",
  "rules": {
    "no-empty": ["error", {
      "allowEmptyCatch": true
    }],
    "no-unused-vars": "off"
  }
}