{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": {
      "version": "17.0"
    }
  },
  "ignorePatterns": [
    "**/*.html",
    "**/*.scss",
    "**/*.svg"
  ],
  "rules": {
    "react/jsx-key": "off",
    "class-methods-use-this": "off",
    "react/display-name": "off",
    "react/no-children-prop": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/ban-types": ["error", {
      "types": { "Function": false },
      "extendDefaults": true
    }],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": ["error", {
      "varsIgnorePattern": "^_",
      "argsIgnorePattern": "^_"
    }],
    "arrow-body-style": ["error", "as-needed"],
    "complexity": ["warn", { "max": 20 }],
    "curly": ["error", "multi-line", "consistent"],
    "eqeqeq": ["error", "smart"],
    "no-case-declarations": "off",
    "no-constant-condition": ["error", { "checkLoops": false }],
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "no-lonely-if": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "one-var": ["error", { "var": "never", "let": "never" }],
    "prefer-arrow-callback": "error",
    "prefer-const": ["error", { "destructuring": "all" }],
    "prefer-object-spread": "error",
    "prefer-rest-params": "warn",
    "prefer-spread": "warn",
    "quote-props": ["error", "as-needed"],
    "quotes": "error",
    "spaced-comment": ["error", "always", { "markers": ["/"] }],
    "yoda": ["error", "never", { "exceptRange": true }]
  }
}