#readme {
    summary {
        border: none;
        box-shadow: none;
        padding: 0 !important;
        background-color: transparent;
    }

    .Box-title {
        padding-left: 1ch !important;
    }
}
