html.defreshing {
    main > *, div.footer {
        opacity: 0;
    }

    main::before {
        content: url("https://github.githubassets.com/images/spinners/octocat-spinner-128.gif");
        position: relative;
        left: calc(50% - 64px);
        top: 64px;
    }
}

html.defreshing[data-color-mode=dark] {
    main::before {
        filter: invert(1);
    }
}

html.defreshed * {
    transition: 1000ms opacity;
}